body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #FAFAFA;
    line-height: 1.5;
}

link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: #111111;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-title span {
    color: #FD9222;
}

.container {
    width: 100%;
    max-width: 365px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



/*? ----------------------HEADER------------------------- */

.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    display: flex;
    gap: 90px;
    align-items: center;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #111111;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 700;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-italic {
    font-style: italic;
}

.header-logo-svg {
    fill: transparent;
    stroke: #FD9222;
    width: 21px;
    height: 21px;
}

.header-menu-list {
    display: none;
    gap: 24px;
}

.header-menu-link {
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #FD9222
}

.header-soc-list {
    display: none;
    align-items: center;
    gap: 14px;
}

.header-soc-link {
    display: flex;
    align-items: center;
}

.header-soc-icon {
    fill: transparent;
    stroke: #111;
}

.header-soc-icon:hover {
    stroke: #FD9222;
}

.menu-open-svg {
    fill: transparent;
    stroke: #111;
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    align-items: center;
    display: flex;
}

/* ----------------------MOB-MENU------------------ */

.mob-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #1E1823;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.mob-close-btn {
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
    margin-bottom: 88px;
}

.mob-close-icon {
    fill: transparent;
    stroke: #ffffff;
}

.mob-menu-list {
    padding-left: 28px;
    margin-bottom: 32px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link:active {
    color: #FD9222
}

.mob-soc-list {
    display: flex;
    gap: 12px;
}

.mob-soc-icon {
    fill: transparent;
    stroke: #ffffff;
}

/* ----------------------MOB-MENU------------------ */
/*? ----------------------HEADER------------------------- */

/* ----------------------HERO------------------------- */

.hero {
    padding-bottom: 80px;
}

.hero-container {
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
            rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 395px 20px 20px 20px;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
                rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg-mob-2x.jpg);
    }
}

.hero-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    text-align: left;
    text-transform: none;
}

.hero-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-buy-btn {
    padding: 12px 28px;
    font-family: inherit;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background: #FD9222;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 13px;
    transition-property: background-color, color;
    transition-duration: 400ms, 0.3s;
    transition-delay: 100ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-buy-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222
}

.hero-made-btn {
    padding: 12px 28px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid#fff;
    background-color: transparent;
}

.hero-made-btn:hover {
    border-color: #FD9222;
    color: #FD9222;
}

.hero-down-btn {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.03em;
    margin-top: 32px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.hero-down-btn:hover {
    color: #FD9222;
}

.hero-down-svg {
    fill: #FD9222;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 8px 0;
    width: 28px;
    height: 28px;
}

.hero-down-svg:hover {
    fill: #fff;
    background-color: #FD9222;
}

/* ----------------------HERO------------------------- */

/*! -------------------------FEATURES-------------------- */

.features {
    background: rgba(30, 24, 35, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.features-item {
    position: relative;
    width: 308px;
}

.features-item:not(:last-child)::after {
    width: 1px;
    right: -44px;
    height: 124px;
    position: absolute;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.features-fluet-svg {
    fill: #FD9222;
    padding: 15px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;
}

.features-subtitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/*! -------------------------FEATURES-------------------- */

/** -----------------------------TASTE----------------------- */

.taste {
    padding-top: 80px;
}

.taste-title {
    max-width: 283px;
    margin: 0 auto 28px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 32px;
}

.taste-item {
    border-radius: 15px;
    border: 1px solid #FD9222;
    perspective: 1000px;
    /* Додає 3D ефект */
    max-height: 270px;
    position: relative;
}

.taste-item:nth-child(1),
.taste-item:nth-child(5) {
    background-color: #FD9222;
    color: #fff;

}

.taste-item:nth-child(3),
.taste-item:nth-child(7) {
    background-color: #1E1823;
    color: #fff;
    border: none;
}

.taste-img {
    margin: 0 auto;
    margin-bottom: 16px;
}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    padding-left: 5px;
    position: relative;
    left: -22px;
}

.taste-button {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 280px;
    top: 15px;
    z-index: 10000;
}

.taste-button-svg {
    fill: transparent;
    stroke: white;
    background-color: transparent;
    border-radius: 365px;
    border: 1px solid white;
    padding: 4px 4px;
}

.taste-back-svg {
    stroke: orange;
    border: 1px solid orange;
}

.taste-item-white .taste-button-svg {
    stroke: #FD9222;
    border-color: #FD9222;
}

.card-front {
    padding: 32px 50px 28px 50px;

}

.card-back {
    padding: 28px;
    width: 335px;
    height: 270px;
    background-color: #fff;
    border-radius: 15px;
}

.taste-card-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 8px;
}

.taste-card-btn {
    border-radius: 35px;
    padding: 6px 16px;
    background: orange;
    border: transparent;
    font-size: 10px;
    line-height: 120%;
    color: #fff;
}

.taste-card-button {
    border: 1px solid orange;
    border-radius: 35px;
    padding: 6px 16px;
    font-size: 10px;
    line-height: 120%;
    background: transparent;
}

.taste-card-text {
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111;
    margin-top: 14px;
}


/** -----------------------------TASTE----------------------- */

/*? --------------------------------MADE------------------------- */

.made {
    padding-top: 80px;
}

.made-title {
    margin-bottom: 32px;
}

.made-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.made-content {
    background-color: #ffffff;
    padding: 20px 14px;
}

.made-subtitle {
    color: rgba(17, 17, 17, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-item {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.made-item::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #4c4c4c;
    border-radius: 50%;
    border: 1px solid #eceded;
    flex-shrink: 0;
}

.made-item+.made-item {
    margin-top: 24px;
}

.made-item-text {
    color: rgba(17, 17, 17, 1);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/*? --------------------------------MADE------------------------- */

/** ------------------------------PRODUCTS------------------------- */

.products {
    padding-top: 80px;
}

.products-title {
    margin-bottom: 22px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.products-item {
    width: 100%;
    padding: 32px 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
}

.products-img {
    margin-bottom: 8px;
    margin: 0 auto;
}

.products-subtitle {
    color: #111;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.products-item-text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}

.products-item-btn {
    font-family: inherit;
    color: #111;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: #fafafa;
}

/** ------------------------------PRODUCTS------------------------- */

/*? ----------------------------SELLERS--------------------------- */

.sellers {
    /* padding-top: 120px; */
    padding-top: 80px;
}

.sellers-title {
    margin-bottom: 32px;
}

.sellers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.sellers-item {
    width: 100%;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 24px;
    position: relative;
}

.sellers-item:nth-child(2),
.sellers-item:nth-child(3) {
    display: none;
}

.sellers-content {
    position: relative;
    overflow: hidden;
}

.sellers-item:hover .sellers-text-wrap {
    transform: translateY(0%);
}

.sellers-text-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 39px;
    top: 0;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
    backdrop-filter: blur(15px);
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
}

.sellers-cover-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.sellers-subtitle {
    color: rgba(17, 17, 17, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;
}

/*? ----------------------------SELLERS--------------------------- */

/* ------------------LOVED------------------ */

.loved {
    padding-top: 80px;
    padding-bottom: 80px;
}

.loved-title {
    margin-bottom: 74px;
}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    margin-bottom: 32px;
}

.loved-item {
    padding: 56px 18px 18px 18px;
    background-color: #fff;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 100%;
    position: relative;
}

.loved-img {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translate(-50%);
}

.loved-subtitle {
    color: rgba(17, 17, 17, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    margin-bottom: 24px;
}

.loved-item-text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-btn {
    color: rgba(17, 17, 17, 1);
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    border: 1px solid #FD9222;
    border-radius: 100px;
    padding: 12px 28px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

.loved-btn:hover {
    color: #ffffff;
    background-color: #FD9222;
}

/* ------------------LOVED------------------ */

/*! ---------------FOOTER------------------------ */

.footer {
    background: rgba(30, 24, 35, 1);
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-heading {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    max-width: 300px;
    margin-right: auto;
}

.footer-heading span {
    color: #FD9222
}

.footer-soc-contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
}

.footer-soc {
    margin-right: 50px;
}

.footer-subtitle {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 14px;
}

.footer-soc-list {
    display: flex;
    gap: 14px;
}

.footer-soc-icon {
    fill: transparent;
    stroke: #ffffff;
}

.footer-adress {
    font-style: normal;
}

.footer-adress-item+.footer-adress-item {
    margin-top: 4px;
}

.footer-adress-link {
    color: rgba(255, 255, 255, 1);
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-navigation {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 18px;
}

.footer-menu-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color: #FD9222
}

.footer-form {
    display: flex;
}

.footer-input {
    width: 207px;
    height: 45px;
    background-color: transparent;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 0 18px;
}

.footer-btn {
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    padding: 14px 24px;
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    margin-left: 8px;
}

.footer-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222;
}

/*! ---------------FOOTER------------------------ */

/* -----------------MODAL-------------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(30, 24, 35, 0.615);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 517px;
    min-height: 794px;
    border-radius: 15px;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close-btn {
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #fafafa;
    border: none;
}

.modal-close-icon {
    fill: transparent;
    stroke: #111111;
}

.modal-title {
    text-align: left;
    max-width: 298px;
    margin-bottom: 42px;
}

.modal-field {
    margin-bottom: 18px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1.50px solid rgba(17, 17, 17, 0.25);
    background-color: transparent;
    border-radius: 13px;
    height: 68px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    outline: transparent;
    padding-left: 50px;
}

.modal-input:focus {
    border-color: #FD9222;
}

.modal-input:focus+.modal-icon {
    stroke: #FD9222;
}

.modal-label {
    display: block;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 8px;
}

.modal-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-text {
    width: 100%;
    height: 137px;
    border-radius: 13px;
    border: 1.50px solid rgba(17, 17, 17, 0.25);
    background-color: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    outline: transparent;
    color: #1E1823;
    padding: 24px 22px;
    resize: none;
}

.check-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
    display: flex;
    align-items: center;
}

.check-text a {
    color: #FD9222;
    text-decoration: underline;
}

.check-text span {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    border-radius: 6px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check-input:checked+.check-text span {
    background-color: #FD9222;
    border: none;
    fill: #ffffff;
}

.modal-btn {
    border-radius: 100px;
    padding: 14px 40px;
    background-color: #FD9222;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff
}

/* -----------------MODAL-------------------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }

    .section-title {
        font-size: 24px;
        line-height: 1.17;
    }

    /*? ------------------------HEADER-------------------------- */

    .header {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .header-container {
        gap: 48px;
    }

    .header-menu-list {
        display: flex;
    }

    .header-soc-list {
        display: flex;
    }

    .menu-open-btn {
        display: none;
    }


    /*? ------------------------HEADER-------------------------- */

    /* ----------------------HERO------------------------- */

    .hero-container {
        padding: 670px 40px 40px 40px;
        background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
                rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero-container {
            background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
                    rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 28px;
        max-width: 484px;
    }

    .hero-buy-btn,
    .hero-made-btn {
        padding: 14px 40px;
    }

    .hero-down-btn {
        margin-left: auto;
        margin-top: unset;
        gap: 14px;
        line-height: 1.29;
        font-size: 14px;
    }

    .hero-down-svg {
        width: 38px;
        height: 38px;
    }

    /* ----------------------HERO------------------------- */

    /* ?-------------------------FEATURES----------------------- */

    .features {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .features-list {
        gap: 44px 88px;
    }

    .features-item {
        width: calc((100% - 88px) / 2);
    }

    /* ?-------------------------FEATURES----------------------- */

    /**! -----------------------------TASTE----------------------- */

    .taste {
        padding-top: 100px;
    }

    .taste-title {
        max-width: 412px;
    }

    .taste-list {
        margin-top: 50px;
        gap: 32px;
    }

    .taste-item {
        width: calc((100% - 32px) / 2);
    }

    /**! -----------------------------TASTE----------------------- */

    /*? ------------------------------MADE----------------------- */

    .made {
        padding-top: 100px;
    }

    .made-title {
        margin-bottom: 50px;
    }

    .made-content {
        padding: 32px;
        max-width: 614px;
        margin: 0 auto;
    }

    .made-img {
        margin: 0 auto;
    }

    .made-item-text {
        max-width: 464px;
    }

    /*? ------------------------------MADE----------------------- */
    /** ------------------------------PRODUCTS------------------------- */

    .products {
        padding-top: 100px;
    }

    .products-title {
        margin-bottom: 50px;
    }

    .products-list {
        gap: 32px;
    }

    .products-item {
        width: calc((100% - 32px) / 2);
    }

    /** ------------------------------PRODUCTS------------------------- */

    /*? ----------------------------SELLERS--------------------------- */

    .sellers {
        padding-top: 100px;
    }

    .sellers-title {
        margin-bottom: 50px;
    }

    .sellers-item {
        width: calc((100% - 16px) / 2);
        padding-bottom: 28px;
    }

    .sellers-item:nth-child(2) {
        display: block;
    }

    .sellers-subtitle {
        margin-top: 28px;
    }

    /*? ----------------------------SELLERS--------------------------- */

    /* ------------------LOVED------------------ */

    .loved {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .loved-title {
        margin-bottom: 90px;
    }

    .loved-list {
        gap: 58px 16px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .loved-item {
        width: calc((100% - 16px) / 2);
        padding: 56px 16px 16px 16px;
    }

    .loved-btn {
        font-size: 18px;
        padding: 14px 40px;
    }

    /* ------------------LOVED------------------ */

    /*! ---------------FOOTER------------------------ */

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-top {
        flex-direction: row;
        gap: 0;
        padding-bottom: 50px;
        margin-bottom: 24px;
    }

    .footer-heading {
        font-size: 28px;
        line-height: 1.22;
    }

    .footer-soc {
        margin-right: 32px;
    }

    .footer-soc-contacts {
        flex-direction: row;
        gap: 0;
    }

    .footer-bottom {
        flex-direction: row;
        align-items: center;
    }

    .footer-navigation {
        padding: 0;
    }

    .footer-menu-list {
        flex-direction: row;
        gap: 16px;
    }

    .footer-menu-item:nth-child(3),
    .footer-menu-item:nth-child(4) {
        display: none;
    }

    .footer-input {
        width: 232px;
        padding: 0 24px;
    }

    .footer-btn {
        padding: 14px 28px;
    }

    /*! ---------------FOOTER------------------------ */
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1166px;
    }

    .header-logo {
        font-size: 18px;
        line-height: 1.11;
    }

    .header-logo-svg {
        width: 24px;
        height: 24px;
    }

    /* ----------------------HERO------------------------- */

    .hero-container {
        padding: 380px 40px 40px 40px;
        background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
                rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero-container {
            background-image: linear-gradient(rgba(17, 17, 17, 0.4) 0%,
                    rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg-2x.jpg);
        }
    }

    /* ----------------------HERO------------------------- */

    /* ?-------------------------FEATURES----------------------- */

    .features-list {
        gap: 88px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .features-item {
        width: calc((100% - 88px * 2) / 3);
    }

    .features-item:not(:last-child)::after {
        content: '';
    }

    /* ?-------------------------FEATURES----------------------- */
    /**! -----------------------------TASTE----------------------- */

    .taste {
        padding-top: 120px;
    }

    .taste-list {
        gap: 24px 32px;
    }

    .taste-item {
        width: calc((100% - 32px * 3) / 4);
        padding: 28px 23px;
    }

    .taste-img {
        margin-bottom: 36px;
    }

    .taste-subtitle {
        position: static;
    }

    .taste-button {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 210px;

    }

    /**! -----------------------------TASTE----------------------- */

    /*? ------------------------------MADE----------------------- */

    .made {
        padding-top: 120px;
    }

    .made-wrap {
        flex-direction: row;
    }

    .made-content {
        margin-top: 0;
    }

    /*? ------------------------------MADE----------------------- */

    /** ------------------------------PRODUCTS------------------------- */

    .products {
        padding-top: 120px;
    }

    .products-list {
        gap: 24px 18px;
    }

    .products-item {
        width: calc((100% - 54px) / 4);
    }

    /** ------------------------------PRODUCTS------------------------- */

    /*? ----------------------------SELLERS--------------------------- */
    .sellers {
        padding-top: 120px;
    }

    .sellers-item {
        width: calc((100% - 32px) / 3);
    }

    .sellers-item:nth-child(3) {
        display: block;
    }

    /*? ----------------------------SELLERS--------------------------- */
    /* ------------------LOVED------------------ */

    .loved {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .loved-list {
        gap: 28px;
    }

    .loved-item {
        width: calc((100% - 56px) / 3);
        padding: 56px 24px 24px 24px;
    }


    /* ------------------LOVED------------------ */

    /*! ---------------FOOTER------------------------ */

    .footer-menu-list {
        gap: 24px;
    }

    .footer-input {
        width: 313px;
        height: 52px;
        font-size: 18px;
        line-height: 1.89;
    }

    .footer-btn {
        padding: 18px 35px;
    }

    /*! ---------------FOOTER------------------------ */
}